version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      cargo-dependencies:
        patterns: ["*"]
    commit-message:
      prefix: "chore"
      include: scope
