/target
/example/server/simple/proto
/example/server/simple/simple
/example/server/reflection/proto
/example/server/reflection/simple
/wireman/debug.log
/wireman/cfg.json
/wireman/history
/resources/*old.png
/resources/*.xcf
/resources/*.yml
